             /* COLOR PROPERTIES */
/* h1{
    color:red;
}
p{
    color:red;
}
button{
    color: rgb(95, 67, 30);
    background-color: chocolate;
}
 body{
    /* background-color: rgb(240, 210,100); */
    /* background-color: #FFFF00; */
/* } */  

/* selectors */

/* *{
    color: rgb(131, 95, 52);
} */

/* #hello{
    color: brown;
}
.button{
color: cadetblue;
background-color: chartreuse;
} */

                        /* TEXT PROPERTIES */
    p{
        text-align: left;
    }