             /* COLOR PROPERTIES */
/* h1{
    color:red;
}
p{
    color:red;
}
button{
    color: rgb(95, 67, 30);
    background-color: chocolate;
}
 body{
    /* background-color: rgb(240, 210,100); */
    /* background-color: #FFFF00; */
/* } */  

/* selectors */

/* *{
    color: rgb(131, 95, 52);
} */

/* #hello{
    color: brown;
}
.button{
color: cadetblue;
background-color: chartreuse;
} */

                        /* TEXT PROPERTIES */
    /* p{
        text-align: end;
    } */

    /* h1{
        font-weight:100;
    }
    h2{
        font-weight: 400;
    }
    h3{
        font-weight: 500;
        text-transform: capitalize;
    }
    h4{
        font-weight: 900;
        font-size: xx-large;
    } */
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
    #container{
     width: 800%;
     height: 200px;
     display: flex;
     flex-direction:row-reverse;
    }
    #box1{
        background-color: aqua;
    }
      #box2{
        background-color: rgb(64, 184, 38);
    }
      #box3{
        background-color: rgb(195, 154, 66);
    }
      #box4{
        background-color: rgb(127, 70, 160);
    }
      #box5{
        background-color: rgb(134, 29, 89);
    }